.movie-box {
    flex: 0 0 calc(16.666% - 20px);
    max-width: calc(16.666% - 20px);
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .buttonsCard button {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  .buttonsCard button:hover {
    background-color: #f40612;
  }
  