.formato {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.tmdb img {
    height: 50px;
}

.integrantes {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.integrantes li {
    display: inline;
    margin-right: 10px;
}

.integrantes li::after {
    content: " | ";
}

.integrantes li:last-child::after {
    content: "";
}